<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectwnavigation">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="fragments.PersonProfile_AddReviewActivity"
            android:label="Написать отзыв"
            ></activity>
        <activity android:name="fragments.PersonProfileActivity"
            android:label="Профиль пользователя"
            ></activity>
        <activity android:name=".MyProfile_myForm_activity"
            android:label="Редактировать анкету"/>
        <activity android:name=".TestImageList" />
        <activity android:name=".TestImageActivity" />
        <activity android:name="fragments.Executors_view_activity"
            android:label="Профиль специалиста"
            />
        <activity android:name=".TestJsonActivity" />
        <activity android:name="fragments.Orders_view_activity"
            android:label="Заказ"
            />
        <activity android:name=".Service_update_activity" />
        <activity android:name=".FirstActivity"
            android:label="Вход"/>
        <activity android:name=".Bookmarks_update_activity" />
        <activity
            android:name=".Notify_update_activity"
            android:parentActivityName=".Notify_list_activity" />
        <activity android:name=".Orders_update_activity" />
        <activity android:name=".Executor_update_activity" />
        <activity android:name=".Orders_createActivity" />
        <activity android:name=".Notify_createActivity" />
        <activity android:name=".Service_createActivity" />
        <activity android:name=".Bookmarks_create_activity" />
        <activity
            android:name=".Bookmarks_list_activity"
            android:parentActivityName=".TestActivity" />
        <activity android:name=".Service_list_activity" />
        <activity
            android:name=".Notify_list_activity"/>
        <activity android:name=".TestActivity" />
        <activity android:name=".MyProfile_reviews_activity"
            android:label="Отзывы и вопросы"/>
        <activity android:name="fragments.MyProfile_orders_activity"
            android:label="Мои заказы"/>
        <activity android:name=".MyProfile_edit_activity"
            android:label="Редактировать личную информацию"/>
        <activity android:name="fragments.MyProfileActivity"
            android:label="Мой профиль"/>
        <activity
            android:name=".Navigation_activity"
            android:theme="@style/woutActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyProfile_createFormActivity"
            android:label="Создать анкету" />
        <activity android:name=".RegistrationActivity"
            android:label="Зарегистрироваться"
            />
        <activity android:name=".Executors_list_activity" />
        <activity android:name=".AuthorizationActivity"
            android:label="Авторизоваться"
            />
        <activity
            android:name=".Orders_list_activity"
            android:label="Orders">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".Persons_contol_addPerson" />
        <activity
            android:name=".Persons_controlList_activity"
            android:parentActivityName=".Persons_contol_addPerson" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>